<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyb.chapter03.section07.dao.StudentMapper">
    <resultMap id="maleStudentMap" type="com.hyb.chapter03.section07.module.MaleStudent" extends="BaseResultMap">
        <collection property="studentHealthMales" column="id"
                    select="com.hyb.chapter03.section07.dao.StudentHealthMaleMapper.selectByStudentId"></collection>
    </resultMap>

    <resultMap id="femaleStudentMap" type="com.hyb.chapter03.section07.module.FemaleStudent" extends="BaseResultMap">
        <collection property="studentHealthFemales" column="id"
                    select="com.hyb.chapter03.section07.dao.StudentHealthFemaleMapper.selectByStudentId"></collection>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.hyb.chapter03.section07.module.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cnname" jdbcType="VARCHAR" property="cnname"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="selfcard_no" jdbcType="INTEGER" property="selfcardNo"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
    </resultMap>
    <resultMap id="StudentWithSelfCardResultMap" type="com.hyb.chapter03.section07.module.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cnname" jdbcType="VARCHAR" property="cnname"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="selfcard_no" jdbcType="INTEGER" property="selfcardNo"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <!-- 级联的查询-->
        <!-- column 作为参数传递给select -->
        <association property="studentSelfCard" column="id"
                     select="com.hyb.chapter03.section07.dao.StudentSelfCardMapper.selectByStudentId"/>
        <collection property="lectures" column="id"
                    select="com.hyb.chapter03.section07.dao.StudentLectureMapper.selectByStudentId"/>
        <discriminator javaType="int" column="sex">
            <case value="1" resultMap="maleStudentMap"></case>
            <case value="2" resultMap="femaleStudentMap"></case>
        </discriminator>
    </resultMap>

    <sql id="Base_Column_List">
        id, cnname, sex, selfcard_no, note
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!-- 级联的一级对象查询-->
    <select id="selectWithSelfCard" parameterType="java.lang.Integer" resultMap="StudentWithSelfCardResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_student
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hyb.chapter03.section07.module.Student" useGeneratedKeys="true"
            keyProperty="roleId">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_student (cnname, sex, selfcard_no,
        note)
        values (#{cnname,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{selfcardNo,jdbcType=INTEGER},
        #{note,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.hyb.chapter03.section07.module.Student">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cnname != null">
                cnname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="selfcardNo != null">
                selfcard_no,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cnname != null">
                #{cnname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="selfcardNo != null">
                #{selfcardNo,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hyb.chapter03.section07.module.Student">
        update t_student
        <set>
            <if test="cnname != null">
                cnname = #{cnname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="selfcardNo != null">
                selfcard_no = #{selfcardNo,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hyb.chapter03.section07.module.Student">
        update t_student
        set cnname      = #{cnname,jdbcType=VARCHAR},
            sex         = #{sex,jdbcType=TINYINT},
            selfcard_no = #{selfcardNo,jdbcType=INTEGER},
            note        = #{note,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <resultMap id="studentWithInfoMap" type="com.hyb.chapter03.section07.module.Student">
        <id column="id" property="id"/>
        <result column="cnname" property="cnname"/>
        <result column="sex" property="sex"/>
        <result column="note" property="note"/>
        <association property="studentSelfCard" column="id"
                     javaType="com.hyb.chapter03.section07.module.StudentSelfCard">
            <result column="cnative" property="cnative"/>
            <result column="end_date" property="endDate"/>
            <result column="issue_date" property="issueDate"/>
            <result column="selfnote" property="note"/>
        </association>
        <collection property="lectures" ofType="com.hyb.chapter03.section07.module.StudentLecture">
            <result column="slid" property="id"/>
            <association property="lecture" column="sllecid" javaType="com.hyb.chapter03.section07.module.Lecture">
                <id column="sllecid" property="id"></id>
                <result column="sllecname" property="lectureName"></result>
            </association>
        </collection>
        <discriminator javaType="int" column="sex">
            <case value="1" resultMap="maleStudentMapWithInfo"></case>
            <case value="2" resultMap="femaleStudentMapWithInfo"></case>
        </discriminator>
    </resultMap>

    <resultMap id="maleStudentMapWithInfo" type="com.hyb.chapter03.section07.module.MaleStudent" extends="studentWithInfoMap">
        <collection property="studentHealthMales" column="id"
                    select="com.hyb.chapter03.section07.dao.StudentHealthMaleMapper.selectByStudentId"></collection>
    </resultMap>

    <resultMap id="femaleStudentMapWithInfo" type="com.hyb.chapter03.section07.module.FemaleStudent" extends="studentWithInfoMap">
        <collection property="studentHealthFemales" column="id"
                    select="com.hyb.chapter03.section07.dao.StudentHealthFemaleMapper.selectByStudentId"></collection>
    </resultMap>

    <select id="selectStudentByIdWithInfo" resultMap="studentWithInfoMap">
        SELECT student.id,
               student.cnname,
               student.sex,
               student.selfcard_no,
               student.note,
               sl.id             slid,
               sl.lecture_id     sllecid,
               sl.student_id     slstuid,
               sl.grade,
               sl.note           slnote,
               lec.lecture_name  sllecname,
               lec.note          lecnote,
               self.cnative,
               self.end_date,
               self.issue_date,
               self.id           selfid,
               self.note         selfnote,
               female.check_date fecheckdate,
               female.heart      feheart,
               female.kidney     fekidney,
               female.id         feid,
               female.liver      feliver,
               female.lung       felung,
               female.note       fenote,
               female.spleen     fespleen,
               female.uterus     feuterus,
               male.check_date   malecheckdate,
               male.heart        maleheart,
               male.id           maleid,
               male.kidney       malekidney,
               male.liver        maleliver,
               male.lung         malelung,
               male.note         malenote,
               male.prostate     maleprostate,
               male.spleen       malespleen
        FROM t_student student
                 LEFT JOIN t_student_lecture sl ON student.id = sl.student_id
                 LEFT JOIN t_lecture lec ON lec.id = sl.lecture_id
                 LEFT JOIN t_student_selfcard self ON self.student_id = student.id
                 LEFT JOIN t_student_health_female female ON female.student_id = student.id
                 LEFT JOIN t_student_health_male male ON male.student_id = student.id
        where student.id = #{id}
    </select>
</mapper>